body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  --color-primary: orange;
  --color-secondary: black;
  --color-light: #505050;
  --color-accent: white;

  background-color: #969696;

  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Typo graphy*/
.horizontal-group {
  display: flex;
  align-items: center;
}

.seperate-column {
  column-gap: 10px;
}

.margin-around {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.light-background {
  background-color: var(--color-secondary);
}

.btn {
  font-size: 1.2rem;
  /* height: 1.5rem; */
  padding: 10px 15px 10px 15px;
  color: var(--color-accent);
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--color-light);
  border-radius: 0 10px 10px 0;
}

.input {
  width: 100vw;
  font-size: 1.2rem;
  padding: 10px 15px 10px 15px;
  background-color: var(--color-accent);
  border-radius: 10px 0 0 10px;
  margin-right: 0;
  text-align: left;
  outline: 0;
}

.block-content {
  background-color: var(--color-accent);
  padding: 20px 20px 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-primary {
  color: var(--color-primary);
}

.label-bold {
  font-weight: bold;
}

.title-major {
  font-size: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.weather-note {
  margin-right: 10px;
}

.error-message {
  color: red;
}

/*Summary group*/

.summary__note {
  height: 40px;
}

.summary__content {
  height: 60px;
  justify-content: space-between;
}

.summray__icon-group {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/*Forecast group*/

.forecast__row {
  margin-bottom: 10px;
  justify-content: space-between;
  height: 42px;
}

.forecast__list {
  padding: 0;
}

.forecast__desc {
  width: 70px;
}

/*Forecast Detail*/
.forecast-detail__header {
  width: 97%;
  height: 30px;
  background-color: #d8d8d8;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}

.forecast-detail__header > span {
  font-weight: bold;
}

.forecast-datail__summary-group {
  margin: 10px 0 10px 0;
  column-gap: 20px;
}

.forecast-datail__desc {
  font-weight: bold;
  margin: 0;
}

.forecast-detail__table {
  width: 100%;
}

.forecast-datail__cell {
  width: 20%;
  text-align: right;
}

/*Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Map*/
.map-container {
  width: 100%;
  height: 300px;
  z-index: 1;
  display: block;
}
